{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}


<main>
    <section class="d-flex align-items-stretch">
        {% include "partials/navbar.html.twig" %}
        <div class="container">
            <div class="row">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path("profile_home") }}" data-turbo-frame="profile_content">Home</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-outline-custom" href="{{ path("profile_books") }}" data-turbo-frame="profile_content">Mes livres</a>
                    </li>
                </ul>

            </div>

            <div class="row">

                <turbo-frame id="profile_content">
                    {# {% include 'profile/home.html.twig' %} #}
                </turbo-frame>
            
            </div>
        </div>
    
    </section>

</main>

{% endblock %}
