.navbar-brand {
  font-weight: 800 !important;
  color: var(--green-color) !important;
  letter-spacing: 1px !important;
}

.navbar .nav-link, .dropdown-item {
    color: var(--white-color) !important;
}

.navbar .nav-link:hover {
    color: var(--green-color) !important;
}

.navbar .nav-link.active {
    color: var(--green-color) !important;
}