{% extends 'base.html.twig' %}

{% block title %}Modifier un livre{% endblock %}

{% block body %}

<main>
    <div {{ react_component("EditUserBook", { 
        userBookId: userBookId, 
        BookUrl: path("book_index", { id: bookId }) }) }} ></div>
</main>
{% endblock %}