<turbo-frame id="books_results" class="row row-cols-1 row-cols-2 row-cols-sm-1 row-cols-sm-4 g-4">
    {% if books is defined %}
        {% for book in books %}
        {# Faire un formulaire avec input et type=hidden, value="book.truc.title etc" #}
            <div class="col">
                <div class="card">
                    {% if book.volumeInfo.imageLinks.thumbnail is defined %}
                        <img src="{{ book.volumeInfo.imageLinks.thumbnail }}" class="card-img-top img-fluid" alt="{{ book.volumeInfo.title }}">
                    {% endif %}
                    
                    <div class="card-body">
                    
                        <h5 class="card-title">{{ book.volumeInfo.title }}</h5>

                        <a href="{{ path('search_add_book', {
                            'title': book.volumeInfo.title is defined ? book.volumeInfo.title : 'Titre inconnu',
                            'authors': book.volumeInfo.authors[0] is defined ? book.volumeInfo.authors[0] : 'Auteur inconnu',
                            'publisher': book.volumeInfo.publisher is defined ? book.volumeInfo.publisher : 'Éditeur inconnu',
                            'description': book.volumeInfo.description|default('Pas de description'),
                            'publishedDate': book.volumeInfo.publishedDate is defined ? book.volumeInfo.publishedDate : 'Date de publication inconnue',
                            'pageCount': book.volumeInfo.pageCount is defined ? book.volumeInfo.pageCount : 'Nombre de pages inconnu',
                            'thumbnail': book.volumeInfo.imageLinks.thumbnail is defined ? book.volumeInfo.imageLinks.thumbnail : 'Pas d\'image',
                            
                            }) }}" class="btn btn-outline-custom" data-turbo="false">
                                Ajouter le livre
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Aucun résultat trouvé.</p>
    {% endif %}

</turbo-frame>  