{% extends 'base.html.twig' %}

{% block body %}
	<main>
	
		<div {{ react_component('BookSearchPage', {
				apiUrl: path('api_search_books'),
				addBookUrl: '/api/user_books',
				searchBookUrl: path('search_book'),
				currentPath: app.request.getPathInfo(),

				}) 
			}}>
		</div>

	</main>
{% endblock %}
