{% extends 'base.html.twig' %}

{% block body %}
	<main>
	
		<div {{ react_component('BookSearchPage', {
				apiUrl: path('search_api_books'),
				addBookUrl: path('search_add_book'),
				searchBookUrl: path('search_book'),
				currentPath: app.request.getPathInfo(),

				}) 
			}}>
		</div>

	</main>
{% endblock %}
