{% extends 'base.html.twig' %}

{% block title %}Book Detail{% endblock %}

{% block body %}
<main>
    <section class="d-flex align-items-stretch">
        {% include "partials/navbar.html.twig" %}
        <div class="container">
            <div class="row text-center my-4">
                <h1>Book Detail</h1>
            </div>
            <div class="row text-center">
                <p>Title: {{ book.title }}</p>
                <p>Authors: {{ book.authors }}</p>
                <!-- Display other book details here -->
                <div class="text-center">
                    <a href="{{ path('mybooks_book_edit', {'id': book.id}) }}" class="btn btn-outline-primary">Edit</a> 
                </div>
            
            </div>
        </div>
    
    </section>

</main>
{% endblock %}