# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    google_api_key: '%env(GOOGLE_API_KEY)%'
    api_base_url: '%env(API_BASE_URL)%'
    avatars_directory: '%kernel.project_dir%/public/uploads/avatars'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Domain/**/Entity'
            - '../src/Domain/**/ValueObject'
            - '../src/Infrastructure/Framework/Symfony/Kernel.php'
    
    App\Application\Books\Service\GoogleBooksService:
        arguments:
            $googleApiKey: '%google_api_key%'
            $apiBaseUrl: '%api_base_url%'
    
    App\Application\Users\Service\UploadService:
        arguments:
            $avatarDirectory: '%avatars_directory%'
    
    App\Presentation\ApiResource\DataProvider\UserLibraryStatsDataProvider:
        tags: ['api_platform.state_provider']
    
    # App\Presentation\Web\Twig\Components\:
    #     resource: '../src/Presentation/Web/Twig/Components'
    #     tags: ['twig.component', 'live_component']

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
