body{

    color: var(--white-color) !important;
    background-color: var(--bg-color) !important;
}

.card {
    background-color: var(--black-color) !important;
}

.card-body {
    color: var(--white-color) !important;
}

.card-footer {
    background-color: var(--black-color) !important;
    border-top: 1px solid var(--bg-color) !important;
    color: var(--white-color) !important;
}

.list-group >.list-group-item {
    background-color: var(--black-color) !important;
    color: var(--white-color);
    border: none;
}


.btn-outline-custom {
    color: var(--green-color) !important;
    border-color: var(--green-color) !important;
    transition: all 0.3s ease-in-out;
}

.btn-outline-custom:hover {
    color: var(--black-color) !important;
    border-color: var(--green-color) !important;
    background-color: var(--green-color) !important;
}