{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}

<main>
    <div class="container mt-5">
        <div class="row">
            <h1 class="my-4 text-center">Administration</h1>
        </div>
        <div class="row align-items-center text-center">
            
            <div class="col">
                <a href="{{ path('admin_users_management') }}" class="btn btn-outline-custom-blue">Gestion des utilisateurs</a>
            </div>
            <div class="col">
                <a href="{{ path('admin_books_management_index') }}" class="btn btn-outline-custom-blue">Gestion des livres</a>
            </div>
            <div class="col">
                <a href="{{ path('admin_reviews_management_index') }}" class="btn btn-outline-custom-blue">Gestion des reviews</a>
        </div>
    </div>
</main>

{% endblock %}