.navbar {
    padding-bottom: 60px;
}

.navbar .navbar-brand, .nav-link, .dropdown-item {
    color: var(--white-color) !important;
}

.navbar .nav-link:hover {
    color: var(--green-color) !important;
}

.navbar .nav-link.active {
    color: var(--green-color) !important;
}