{% extends 'base.html.twig' %}

{% block title %}LoveBooks{% endblock %}

{% block body %}
    <div {{ react_component('Home', {
        loginUrl: path('app_login'),
        registerUrl: path('app_register')
    }) }}>
        Chargement...
    </div>
{% endblock %}
